# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

java/interface/.idea/
java/client/.idea/
java/server/.idea/

python/__pycache__/
python/.idea/
python/venv/
