# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

java/interface/.idea/
java/client/.idea/
java/server/.idea/

python/__pycache__/
python/.idea/
python/venv/
python/proto/__pycache__/
python/storage/__pycache__/
python/conf/__pycache__/
python/controller/__pycache__/
python/service/__pycache__/